.slider {
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 100%;
  height: 100%;
}

.control-btn .next {
  position: absolute;
  top: 40%;
  z-index: 10;
  right: 5%;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  z-index: 10;
  left: 5%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/*--------form-----------*/
.slide-form h2 {
  margin-top: 30px;
}
.slide-form {
  position: absolute;
  top: 45%;
  left: 25%;
  background-color: rgba(255, 250, 250, 0.925);
  width: 50%;
  height: 450px;
  border-radius: 5px;
  /* color: white; */
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.26);
}

.slide-form .flex_space input:nth-child(odd) {
  margin-right: 20px;
}
.slide-form .submit {
  background: #000000;
  color: white;
}
.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 20px 0 20px;
}
.flex-item {
  width: 100%;
}
.center-item {
  align-items: center;
  text-align: center;
  width: 100%;
}
.text-red {
  color: red;
}
/*--------form-----------*/
@media screen and (max-width: 768px) {
  .slider {
    height: 65vh;
  }
  .slide img {
    height: 65vh;
  }
  .slide-form {
    left: 5%;
    top: 32%;
    width: 90%;
    height: 55vh;
  }
  .btn-custom{
    width: 200px !important;
  }
}
