.image {
  display: flex;
  justify-content: space-around;
}

.image-item {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
}
.pagination {
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 50px;
}
